# YouTube OAuth2 Credentials
# For detailed instructions on generating these values, 
# please refer to the "YouTube Authentication Setup" section in the README.md

YOUTUBE_CLIENT_ID=your_client_id_here
YOUTUBE_CLIENT_SECRET=your_client_secret_here
YOUTUBE_REFRESH_TOKEN=your_refresh_token_here
